include ../macros/helpers

- var icons = ["facebook", "twitter", "viget"]

//- each icon in socialLinks
//- each icon in socialLinks
//-   .icon
//-     +sprite(icon.id)
//-     h1 #{icon.title}

each person in people
  .person
    h1= person.name
